node_modules
.env
deployments/
root/
uploads/
WLApps/
.DS_Store
assets/
outputs/
data/
dist/
ecosystem.config.js
dump.rdb
data.ms
developer_accounts/*
forms/*
builds/*

config.toml
android-aab.json
release.json
remove-bundles.js
fcm.json
apns.p8
asc_api_pk.p8
android_service_account.json